/*
File containing styles for individual card components

Use a copy of this file to style your business card
*/

#ArielleP-card
{
  max-width: 600px;
  max-height: 350px;

  display: grid;
  grid-template-columns: 50% 50%;

  padding: 8px;

  overflow-x: visible;

  color: lavenderblush;
  background-color: #444343;

  border-style: solid;
  border-radius: 10px;
  border-width: 1px;
}

#ArielleP h1
{
  grid-column: 1 / 3;
  text-align: left;
  font-size: medium;
}

#ArielleP-contact-info
{
  grid-column: 1;
}

#ArielleP-about-me
{
  grid-column: 2;
  
  vertical-align: top;
  border-radius: 20px;
  height: 75%;
}

#ArielleP-logo
{
  width: 50px;
  height: 50px;

  grid-column: 1 / 3;
  text-align: center;

  display: inline-block;
}